{{#partial "hero"}}
    {{{region name="home_below_menu"}}}
    {{#if carousel}}
        {{> components/carousel carousel=carousel layout="layout-10" arrows=theme_settings.homepage_show_carousel_arrows dots=theme_settings.homepage_show_carousel_dots}}
    {{/if}}
    {{{snippet 'home_content'}}}
    {{{region name="home_below_carousel"}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

<div class="main full">
    {{#if theme_settings.free_shipping_block_text '!=' ''}}
        <div class="themevale-section background-gray text-center text-free-shipping">
            <div class="container">
                <div class="text">{{theme_settings.free_shipping_block_text}}</div>
            </div>
        </div>
    {{/if}}
    {{{region name="home_below_block_1"}}}

    {{> components/themevale/homepage/component/image-collections image-collections="image-collections-15" padding_top="padding-top-70" padding_bottom="padding-bottom-70"}}
    {{{region name="home_below_block_2"}}}

    {{#if products.new}}
        {{> components/products/product-layout productsnew=products.new padding_top="padding-top-0" padding_bottom="padding-bottom-70" products=products.new title=theme_settings.homepage_products_new_title layout=theme_settings.homepage_products_new_layout_grid columns=theme_settings.homepage_products_new_column products_show=theme_settings.homepage_products_new_show products_limit=theme_settings.homepage_products_new_limit description=theme_settings.homepage_products_new_description custom="no-border" block_id="home10-new-products"}}
    {{/if}}
    {{{region name="home_below_block_3"}}}

    {{> components/themevale/homepage/component/image-collections image-collections="image-collections-16" padding_top="padding-top-0" padding_bottom="padding-bottom-70"}}
    {{{region name="home_below_block_4"}}}

    {{#if blog.recent_posts}}
        {{> components/themevale/homepage/component/latest-post latest-post="latest-post-3" padding_top="padding-top-0" padding_bottom="padding-bottom-70" blog=blog.recent_posts columns=theme_settings.homepage_blog_column blog_show=theme_settings.homepage_blog_limit}}
    {{/if}}
    {{{region name="home_below_block_5"}}}

    {{> components/themevale/homepage/component/brands-carousel brands-carousel="brands-carousel-3" padding_top="padding-top-0" padding_bottom="padding-bottom-70" arrows=true dots=false}}
    {{{region name="home_below_block_6"}}}

    {{#if theme_settings.enable_instagram}}
        {{> components/themevale/homepage/component/instagram-carousel instagram-carousel="instagram-carousel-5" padding_top="padding-top-50" padding_bottom="padding-bottom-70" title-border="no-border"}}
    {{/if}}
    {{{region name="home_below_block_7"}}}

</div>
{{/partial}}
{{> layout/base}}
