<header class="header themevale_header-layout-6">
    <div class="themevale_header-PC">
        <div class="themevale_header-top">
            {{> components/themevale/header/navigation-4}}
        </div>
        <div class="themevale_header-middle">
            <div class="container-main">
                <div class="header-middle-wrapper">
                    <div class="header-middle__left">
                        <div class="header-middle__left-logo">
                            {{#if page_type '===' 'default'}}
                                <h1 class="header-logo">
                                    {{> components/common/store-logo}}
                                </h1>
                            {{else}}
                                <div class="header-logo">
                                    {{> components/common/store-logo}}
                                </div>
                            {{/if}}
                        </div>
                    </div>

                    <div class="header-middle__right">
                        <div class="header-middle__right-top">
                            <ul class="right-top__list">
                                <li class="right-top__item">
                                    <span class="right-top__icon">
                                        <img src="https://cdn11.bigcommerce.com/s-nhruxm7d0j/images/stencil/original/image-manager/resources-icon.png" alt="Icon Resources">
                                    </span>
                                    <a href="#" class="right-top__link">Resources</a>

                                </li>
                                <li class="right-top__item">
                                    <span class="right-top__icon">
                                        <img src="https://cdn11.bigcommerce.com/s-nhruxm7d0j/images/stencil/original/image-manager/location-icon.png" alt="Icon Rep Locator">
                                    </span>
                                    <a href="#" class="right-top__link">Rep Locator</a>
                                </li>
                                <li class="right-top__item right-top__item--currency">
                                    {{> components/common/currency-selector}}
                                </li>
                            </ul>
                        </div>
                        <div class="header-middle__right-bottom">
                            <div class="navUser-item navUser-item--quickSearch">
                                <div class="themevale_search-custom" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
                                    {{> components/common/quick-search-all}}
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="themevale_header-bottom menu-sticky">
            <div class="logo-wrapper">
                <div class="header-sticky-logo">
                    <a href="{{urls.home}}">
                        {{#if settings.store_logo.image}}
                            {{#if theme_settings.logo_size '===' 'original'}}
                                <img class="header-logo-image-unknown-size" src="{{getImage settings.store_logo.image 'logo_size'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
                            {{else}}
                                <span class="header-logo-image-container">
                                    <img class="header-logo-image" src="{{getImage settings.store_logo.image 'logo_size'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
                                </span>
                            {{/if}}
                        {{else}}
                            <span class="header-logo-text">{{settings.store_logo.title}}</span>
                        {{/if}}
                    </a>
                </div>
            </div>
            {{> components/common/navigation-menu2}}
            {{> components/common/sticky-cart-search}}
        </div>
    </div>
    <div class="themevale_header-Mobile">
        {{> components/themevale/header/header-mobile}}
    </div>
</header>
