<div class="container">    
    <div class="navUser text-right">
        <div class="navUser-item">
            <a class="navUser-action" href="#">
                <span class="navUser-icon">
                    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-custom-blog"></use></svg>
                </span>
                <span class="navUser-text">Cargo Securement Blog</span>
            </a>
        </div>
        <div class="navUser-item">
            <a class="navUser-action" href="#">
                <span class="navUser-icon">
                    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-custom-hand"></use></svg>                    
                </span>
                <span class="navUser-text">About Us</span>
            </a>
        </div>        
    </div>
</div>

