<div class="container-main custom-header-top-wrapper">    
    <div class="header-top-left">
        <ul class="header-top-left__list">
            <li class="header-top-left__item">
                <a href="#" class="header-top-left__link">HEAVY DUTY CARGO</a>
            </li>
            <li class="header-top-left__item">
                <a href="#" class="header-top-left__link">Consumer / Industrial</a>
            </li>
            <li class="header-top-left__item">
                <a href="#" class="header-top-left__link">Military</a>
            </li>
        </ul>
    </div>

    <div class="header-top-right">
        <span class="header-top-right-text header-top-right-text--first">
            Question?(US) 1-800=233-5138
        </span>

        <span class="header-top-right-text">
            (Canada) 1-866-962-0055 ext. 312
        </span>

        <span class="header-top-right-text header-top-right-text--or">
            or
        </span>

        <span class="header-top-right-text">
            <a href="#" class="header-top-right-text--link">Contact Us</a>
            <img class="header-top-right-icon" src="https://cdn11.bigcommerce.com/s-nhruxm7d0j/images/stencil/original/image-manager/lightbulb-icon.png" alt="">

        </span>
    </div>
</div>

