<footer class="footer {{#if theme_settings.footer-dark-layout}}themevale-footer-dark{{/if}}">
    <div class="themevale_footer-middle">
        <div class="container-main">
            <section class="footer-info themevale_footer-info col-5">
                <div class="footer-info-col footer-info-col--first" data-section-type="">
                    <div class="item">
                        <h5 class="footer-info-heading">
                            {{#if theme_settings.footer-dark-layout}}
                                <img class="logo-image lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/logo-whitecolor.png" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
                            {{else}}
                                <img class="logo-image" src="{{getImage settings.store_logo.image 'logo_size'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
                            {{/if}}
                        </h5>
                        <div class="footer-info-list">
                            About Ancra Cargo <br>
                            Careers <br>
                            Warranty and Terms & Conditions <br>
                            Blog <br>
                            <br>
                            <br>
                            Ancra Cargo was founded in 1969 with your security in mind. We started with the mission to improve safety and security for the material handling industry and originally focused on the airline industry. We quickly realized that engineered products were needed in every market segment that moved quantities of cargo, and our comprehensive product lines were born.
                            <br>
                            <br>
                            
                            Now with one of the broadest lines of cargo control products in the industry, Ancra can save you time and effort in finding just the products you need. <br>
                            LET US HELP YOU
                            <br>
                            <br>
                            
                            We are always interested in new product ideas. If you have an idea you would like to submit, please see our IDEA SUBMISSION FORM
                        </div>
                    </div>
                </div>

                <div class="footer-info-col footer-info-col--small footer-dropdownmobile" data-section-type="footer-services">
                    <h5 class="footer-info-heading">
                        <span>{{theme_settings.footer-title-col-2}}</span>
                        <svg class="icon-dropdown" aria-label="Show/Hide Customer Service Dropdown"><use xlink:href="#icon-chevron-down"></use></svg>
                    </h5>
                    <ul class="footer-info-list">
                        <li><a href="#">Product Notices</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">101 & 201 Video</a></li>
                        <li><a href="#">Education Program</a></li>
                    </ul>
                </div>

                <div class="footer-info-col footer-info-col--small footer-dropdownmobile" data-section-type="footer-services">
                    <h5 class="footer-info-heading">
                        <span>{{theme_settings.footer-title-col-3}}</span>
                        <svg class="icon-dropdown" aria-label="Show/Hide Customer Service Dropdown"><use xlink:href="#icon-chevron-down"></use></svg>
                    </h5>
                    <ul class="footer-info-list">
                        <li><a href="#">Product Showcase</a></li>
                        <li><a href="#">Video & Audio</a></li>
                        <li><a href="#">Catalog & Product Sheets</a></li>
                        <li><a href="#">International Distribution</a></li>
                        <li><a href="#">Warnings And Instructions</a></li>
                        <li><a href="#">Clearance</a></li>
                    </ul>
                </div>
                
            </section>
        </div>
    </div>
    <div class="themevale_footer-bottom">
        <div class="container">
            <div class="wrapper">
                <div class="item">
                    {{#if theme_settings.show_copyright_footer}}
                        <div class="footer-copyright">
                            <p class="powered-by">Copyrighting 2022 Kinedyne. All rights reserved | Privacy Policy | Terms & Conditions</p>
                        </div>
                    {{/if}}
                </div>                
            </div>
        </div>
    </div>
</footer>
