<ul class="tabs" data-tab role="tablist">
    <li class="tab is-active">
        <a class="tab-title" href="#tab-description">Detail</a>
    </li>
    <li class="tab">
        <a class="tab-title" href="#tab-specifications">Specifications</a>
    </li>
    <li class="tab">
        <a class="tab-title" href="#tab-packaging">Packaging</a>
    </li>
    <li class="tab">
        <a class="tab-title" href="#tab-notices">Notices & Warnings</a>
    </li>
</ul>
<div class="tabs-contents">
    <div class="tab-content productDescription is-active" id="tab-description" data-accordion-item="">
        <div class="toggle-title">
            <a class="toggleLink" href="#tab-description-content" data-collapsible>
                <span class="title">Detail</span>
                <span class="icon"><svg aria-label="Show/Hide Description Tab"><use xlink:href="#icon-chevron-down"></use></svg></span>
            </a>
        </div>
        <div class="toggle-content is-open" id="tab-description-content" aria-hidden="false"{{#if schema}} itemprop="description"{{/if}}>
            <div class="productDescription-content">
                <div class="productDescription-left">
                    <h4 class="productDescription-title">2-Inch x 30-Foot Chain Anchor Ratchet Strap</h4>
                    <p class="productDescription-content">With grab hooks fixed on the ends of the chain, your tie down jobs are even more secure on both sides of your load with
                        the Kinedyne 2-inch x 30-foot Chain Anchor Ratchet Strap with a working load limit of 3,335 Lbs. / 1,513 Kgs.
                    </p>
                    <p class="productDescription-content">Our easily identifiable Kinedyne Gold with Black Edge 2084F Webbing lets you know that this Chain Anchor Ratchet
                        Strap is both strong and reliable with a standard 18” fixed end. Golden dichromate zinc plated heat-treated carbon steel
                        Kinedyne 3705-2 Chain Anchors with 5/16 inch Grade 43 chain hooks are all the hardware our 11.1 pound / 5.0 kilogram 2”
                        x 30’ Chain Anchor Ratchet Strap needs in order to withstand some of nature’s strongest challenges to ensure that your
                        load remains secure.
                    </p>
                    <p class="productDescription-content">Kinedyne tightly weaves its own webbing and designs the sew patterns for our 2” X 30’ Chain Anchor Ratchet Strap
                        webbing. We assume direct quality control over the manufacturing in order to certify that the ratchet straps exceed the
                        demands of many tie down applications.
                    </p>
                    <p class="productDescription-content">The Kinedyne 533039 has a tested working load limit of 3,335 Lbs. / 1,513 Kgs. Our Ratchet Straps are stenciled and
                        tagged with the Kinedyne name and logo as well as the Working Load Limit to meet DOT regulations and CVSA, CHP,
                        North American Cargo Securement, and WSTDA standards.
                    </p>
                </div>
    
                <div class="productDescription-right">
                    <h4 class="productDescription-title">2” by 30’ Chain Anchor Ratchet Strap – 533039 Quick Specs:</h4>
                    <p class="productDescription-content"><strong>Working Load Limit:</strong> 3,335 Lbs. / 1,513 Kgs</p>
                    <p class="productDescription-content"><strong>Width:</strong> 2 Inches</p>
                    <p class="productDescription-content"><strong>Length: </strong> 30 Feet</p>
                    <p class="productDescription-content"><strong>Weight: </strong> 11.1 Lbs. / 5.0 Kgs.</p>
                    <p class="productDescription-content"><strong>Webbing: </strong> Standard Kinedyne Gold with Black Edge 2084F Webbing.</p>
                    <p class="productDescription-content"><strong>Fixed End Length: </strong> 18 Inches.</p>
                    <p class="productDescription-content"><strong>Type of Tension Device: </strong> Kinedyne 802 Standard Handle Ratchet</p>
                    <p class="productDescription-content"><strong>End Fitting: </strong> Kinedyne 3705-2 Chain Anchor</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content productCustomTab" id="tab-specifications" data-accordion-item="">
        <div class="toggle-title">
            <a class="toggleLink" href="#tab-specifications-content" data-collapsible>
                <span class="title">Specifications</span>  
                <span class="icon"><svg aria-label="Show/Hide Specifications"><use xlink:href="#icon-chevron-down"></use></svg></span>
            </a>
        </div>
        <div class="toggle-content" id="tab-specifications-content" aria-hidden="true">
            {{> components/themevale/tabs/tab-custom}}
        </div>
    </div>
    <div class="tab-content productCustomTab" id="tab-packaging" data-accordion-item="">
        <div class="toggle-title">
            <a class="toggleLink" href="#tab-packaging-content" data-collapsible>
                <span class="title">Packaging</span>  
                <span class="icon"><svg aria-label="Show/Hide Packaging"><use xlink:href="#icon-chevron-down"></use></svg></span>
            </a>
        </div>
        <div class="toggle-content" id="tab-packaging-content" aria-hidden="true">
            {{{region name = "product_tab"}}}
        </div>
    </div>

    <div class="tab-content productCustomTab" id="tab-notices" data-accordion-item="">
        <div class="toggle-title">
            <a class="toggleLink" href="#tab-notices-content" data-collapsible>
                <span class="title">Notices & Warnings</span>  
                <span class="icon"><svg aria-label="Show/Hide Notices & Warnings"><use xlink:href="#icon-chevron-down"></use></svg></span>
            </a>
        </div>
        <div class="toggle-content" id="tab-notices-content" aria-hidden="true">
            {{{region name = "product_tab"}}}
        </div>
    </div>
</div>
